OOSD_CASE_Tool/ADT_Obj.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ADT_Obj_Attribute_Form">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ADT_Obj_Name" />
        <xs:element name="ADT_Obj_Operation" />
        <xs:element name="ADT_Obj_Axiom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>