OOSD_CASE_Tool/C_Obj.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="C_Obj_Attribute_Form">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="C_Obj_Name">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value=".*"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="C_Obj_Attribute">
          <xs:complexType>
            <xs:attribute name="key" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>