OOSD_CASE_Tool/SM_Obj.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SM_Obj_Attribute_Form">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="SM_Obj_Name">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="(.*)+"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SM_Obj_Operation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SM_Obj_State">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value=".*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="SM_Obj_Event">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value=".*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="SM_Obj_Control">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value=".*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>